etc/
Source/**/*.lib
*.lnk
*.bak
*.h.bak
*.c.bak
*.doc.bak
*.old
*.o

Build/OBJ/Modules/*
Build/OBJ/Modules/Config/*
Build/OBJ/Modules/ftp/*
Build/OBJ/Modules/XADbrowser/*
!Build/OBJ/Modules/Config/
!Build/OBJ/Modules/ftp/
!Build/OBJ/Modules/XADbrowser/
Build/OBJ/Misc/Viewfont/*
Build/OBJ/Misc/C/*
Build/OBJ/Program/*
Build/OBJ/Library/*
Build/OBJ/*.gst
Build/Binary/*
!Build/Binary/Storage/
!Build/Binary/Modules/
!Build/Binary/Libs/
!Build/Binary/c/
Build/Binary/Storage/Modules/*
Build/Binary/Modules/*
Build/Binary/Libs/*
Build/Binary/c/*
!Build/OBJ/Modules/Config/.gitkeep
!Build/OBJ/Modules/ftp/.gitkeep
!Build/OBJ/Modules/XADbrowser/.gitkeep
!Build/OBJ/Misc/Viewfont/.gitkeep
!Build/OBJ/Misc/C/.gitkeep
!Build/OBJ/Program/.gitkeep
!Build/OBJ/Library/.gitkeep
!Build/Binary/Storage/Modules/.gitkeep
!Build/Binary/Modules/.gitkeep
!Build/Binary/Libs/.gitkeep
!Build/Binary/C/.gitkeep

